<section class="auth-shell" cdkTrapFocus>
  <div class="row">
    <div class="col col-12 col-xl-6">
      <!-- left: brand/feature -->
    </div>
    <div class="col col-12 col-xl-6">
      <article class="auth-card" role="region" aria-labelledby="auth-title">
        <header>
          <span class="brand-line">{{ brandLine }}</span>
          <h1 id="auth-title">{{ title }}</h1>
          <p class="subtitle">{{ subtitle }}</p>
        </header>
        <ng-content select="[auth-form]"></ng-content>
        <ul class="features" *ngIf="features?.length">
          <li *ngFor="let f of features">
            <i [class]="f.icon" aria-hidden="true"></i>
            <div><strong>{{ f.title }}</strong><small>{{ f.subtitle }}</small></div>
          </li>
        </ul>
      </article>
    </div>
  </div>
</section>
